# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

.vs
TouchGFX/build/
TouchGFX/generated/
MDK-ARM/STM32F7508-DK/
MDK-ARM/RTE/
MDK-ARM/DebugConfig/
*.duwon
*.lst
STM32CubeIDE/Debug/makefile
STM32CubeIDE/Debug/
STM32CubeIDE/.settings/
